body{
    font-family: 'Poppins', sans-serif;
}
.sign-in-button{
    width: 104px;
    height: 43px;
    top: 25px;
    left: 1201px;
    border-radius: 33px;
    padding: 12px 28px 12px 28 px;
    gap: 10px;
    background: #21B573;
    color: white;
    
}

.title-section{
    margin-top: 100px;
}
.first-text{
    color: #FD511A;
    text-align: left;
}
.title-color{
    color: #21B573;
}
.title-section h1{
    font-weight: 700;
    font-size: 48px;
}
.last-text{
    color: #6C6B6B;
    text-align: start;
}
.get-started-button{
    width: 153px;
    height: 49px;
    left: 205px;
    top: 470px;
    background: #21B573;
    border-radius: 33px;
    padding: 12px 28px 12px 28 px;
    gap: 10px;
    font-size: 16px;
    color: white;
    
}

#men{
    width: 554px;
    height: 346px;
}
.second-section{
    margin-top: 100px;
}
.card{
    width: 270px;
    height: 270px;
    background: #F8FFFB;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0.1);
}
.card img{
    width: 68px;
    height: 76px;
    left: 1141px;
    top: 677px;
    margin-top: 50px;
    margin-left: 90px;
}

.card h3, p{
    margin-top: 20px;
    text-align: center;
}
.topic-section{
    margin-top: 100px;
    
}
#card4{
    width: 270px;
    height: 270px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0.1);
}
.third-section{
    margin-top: 100px;
}
.course-box{
    box-shadow: 0px 2px 5px;
    border-radius: 10px;
    width: 370px;
    height: 483px;
    padding-left: 25px;
    padding-top: 25px;
    
}
 .online-courses{
     text-align: center;
     color: #413960;
     font-weight: 700;
     margin-bottom: 60px;
     
 }
 .course-card img{
     width: 331px;
     height: 234px;
 }
.course-card h4{
    margin-top: 15px;
}
.course-card p{
    text-align: start;
}
.buy-course{
    padding: 8px 28 px;
    gap: 10px;
    width: 137px;
    height: 35px;
    background: #21B573;
    border-radius: 33px;
    color: white;
    margin-top: 20px;
}
.testimonial{
    margin-top: 100px;
    margin-bottom: 70px;
}
.testimonial{
    text-align: center;
    color: black;
    font-weight: 700;
}
.review img{
    width: 120px;
    height: 120px;
    left: 353px;
}
.review-text{
    text-align: center;
}

.footer {
    height: auto;
    background-color: #282531;
    width: 100%;
    padding-top: 20px;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    font-weight: 100;
    }
    
    
    
    .footer-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    margin-top: 15px;
    }
    
    .column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    }
    
    .column-2,
    .column-3,
    .column-4 {
    width: 25%;
    margin-top: 10px;
    padding-top: 10px;
    }
    
    @media (min-width: 768px) {
    .footer-container {
        width: 750px;
        }
    }
    
    @media (min-width: 992px) {
    .footer-container {
        width: 970px;
        }
    }
    
    @media (min-width: 1200px) {
    .footer-container {
        width: 1170px;
        }
    }
    .footer-header {
    color: #ffffff;
    font-weight: 100;
    }
    .small-footer-header {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 100;
    }
    
    .footer-support-text {
    color: #EFF5EF;
    font-size: 14px;
    margin-top: 8px;
    padding-top: 8px;
    }
    
    .footer-link {
    color: #fff;
    text-decoration: none;
    }
 
    
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    a:hover{
        color: Green;
        font-size: 20px;
    }
    .link{
        text-decoration: none;
    }